body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
}
.wrapper{
    max-width:1127px;
    width:100%;
    margin:0 auto;
    padding: 0 15px;
}

.row::after {
    clear: both;
    content: "";
    display: block;
}

.w-1 {
    width: 100%;
    float:left;
}

.w-2 {
    width: 50%;
    float: left;
}

.w-3 {
    width: 33.33%;
    float: left;
}

.w-4 {
    width: 25%;
    float: left;
}

.w-5 {
    width: 20%;
    float: left;
}

.w-7 {
    width: 14%;
    float: left;
    text-align: center;
}

.w-7 img {
vertical-align: middle; 
    }

.align-right{
text-align:right;
}

.align-left {
    text-align: left;
}

.flex {
    display: flex;
    align-items: flex-end;
}

#logo{
    margin:10px 0 0 0;
}

#search {
    border-bottom: 1px solid;
    color: #324950;
    display: inline-block;
    max-width: 350px;
    width: 100%;
    margin: 10px 0 43px 0;
}

#search input {
    font-size: 16px;
    color: #324950;
    background-color: transparent;
    border: none;
    max-width: 327px;
    height: 25px;
    width: 100%;
}


    #search input::placeholder {
        color: #324950
    }

#search button {
    background: url(../images/search.png) no-repeat center;
    font-size: 0;
    height: 18px;
    width: 18px;
    border: none;
    cursor: pointer;
    margin-bottom: 8px;
}

#banner {
    background: url(images/image7.png) no-repeat center;
    background-size: cover;
}

#menu{

}

#menu.active {

}

#menu ul {
padding:0;
margin:0;
list-style: none;
}

#menu ul li {
display:inline;
margin-left:15px;
}

    #menu ul li a {
        color: #324950;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        transition: color 0.3s ease, font-size 0.3s ease, transform 0.3s ease;
    }

        #menu ul li a:hover {
            color: #57984C;
        }

        #menu ul li a:active {
            font-size: 20px;
            transform: scale(1.2);
        }

#slider {
    text-align: center;
    background: url(../images/back.jpg) no-repeat center;
    background-size: cover;
    padding: 338px 0;
    margin-top: -135px;
}

    #slider h1 {
        color: #735440;
        font-size: 48px;
        font-weight: bold;
    }

    #slider a {
        display: block;
        background-color: #57984C;
        color: aliceblue;
        font-size: 16px;
        text-align: center;
        width: 155px;
        height: 55px;
        margin: 0 auto;
        text-decoration:none;
        line-height: 55px;
    }

.content a {
    font-family: 'Roboto', serif;
}

.flex input {
    font-family: 'Times new roman', serif;
}

#sections {
    max-width: 1600px;
    width: 100%;
    margin: 25px auto;
    text-align: center;
}

    #sections  .row {
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

@keyframes shake {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(-5px, 0);
    }

    50% {
        transform: translate(5px, 0);
    }

    75% {
        transform: translate(-5px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}


#sections .row .w-7:hover {
    animation: shake 0.5s;
}

#sections .row .w-7 .text {
    color: black;
    transition: color 0.3s ease;
}

#sections .row .w-7:hover .text {
    color: green;
}


.text {
    margin-top: 20px;
}


.vision-frame {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-enclosure {
    text-align: left;
    margin-right: 30px;
}

.photo-enclosure {
    margin-left: 15px;
}



.mission-frame {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-enclosure2 {
    text-align: left;
    margin-right: 30px;
}

.photo-enclosure2 {
    position: relative;
    margin-left: 15px;
}
.centered-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mes1 {
    font-family: 'Roboto', serif;
    color: #324950;
    font-size: 64px;
    margin: 0;
}

.mes2 {
    font-family: 'Times new roman', serif;
    color: #57984C;
}

.mes3 {
    font-family: 'Roboto', serif;
    color: #324950;
    font-size: 20px;
}

.mes4 {
    font-family: 'Roboto', serif;
    color: #324950;
    font-size: 44px;
}

.mes5 {
    font-family: 'Roboto', serif;
    color: #324950;
    font-size: 17px;
}

.mes6 {
    margin:5px;
    font-family: 'Roboto', serif;
    color: #324950;
    font-size: 17px;
}

.t1 {
    font-family: 'Roboto', serif;
    color: #57984C;
    font-size: 20px;
    text-align:center;
    margin: 2px 0px 2px 0px;
    text-decoration:none;
}

.t2{
    font-family: 'Roboto', serif;
    color: #57984C;
    font-size:16px;
    text-align: center;
    margin: 2px 0px 2px 0px;
}


#osnova {
    background: url(../images/___.png) no-repeat center;
    background-color: #F7F7F7;
    font-size: 20px;
    padding: 78px 0;
}

#lower-content {
    background-color: #EDEDED;
    text-align: center;
    padding: 78px 0;
}
.heading {
    font-size: 64px;
    font-weight: bold;
    color: #324950;
    line-height: 147.7%;
    margin: 0;
}

.exes {
    color: #57984C;
    font-size: 20px;
}

.grains {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.subheading {
    font-size: 24px;
    font-weight: bold;
    color: #57984C;
    margin: 0;
}

.line {
    margin: 25px 0 10px 0;
}


.footer_section {
    display: flex;
    flex-direction: row;
    background-color: #2D3F45;
    padding: 15px 5px;
    align-items: center;
    justify-content: space-around;
}

.social_media {
    display: flex;
    justify-content: space-between;
    width: 12%;
    margin-right: 300px;
}

#Сonnexions {
    margin-left: 150px;
    font-family: 'Roboto', serif;
}
    #Сonnexions a {
        color: #ffffff;
        transition: color 0.3s ease;
    }

        #Сonnexions a:hover {
            color: #ff0000;
            transform: scale(1.2);
        }

    


#Сonnexions ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

    #Сonnexions ul li {
        display: inline;
        margin-left: 2em;
    }

        #Сonnexions ul li a {
            color: #ffffff;
            font-size: 16px;
            text-decoration: none;
            transition: color 0.4s;
        }

img {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 768px) {
    .w-2 {
        width: 100%;
    }

    .align-right {
        text-align: center;
    }
  
    #search {
        max-width: 100%;
    }

        #search input {
            max-width: 100%;
        }

    .footer_section {
        flex-direction: column;
    }

    .social_media {
        margin-top: 10px;
        width: 100%;
        justify-content: center;
    }

    #Сonnexions ul li {
        margin-left: 0;
        margin-bottom: 5px;
    }
}

.footer {
    background-color: #1c7591;
    color: #B9B9B9;
    padding: 3px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
}

#base{
    background-color: #FCF0F0;
}

#contact_base {
    background-color: #DADADA;
}

.textbox {
    display: block;
    background-color: #FFFAFA;
    font-family:Roboto;
    width:1152px;
    height:250px;
    margin:0 auto;
}

.tb1 {
    display: block;
    width: 350px;
    font-family: Roboto;
    color: #324950;
    font-size: 20px;
    margin: 20px 0 0 20px;
}

.ah {
    text-align:left;
    width: 350px;
    color: #324950;
}

.bh {
    border-top: 1px solid #57984C; 
    text-align: left;
    width: 183px;
    margin-left: 0px;
}

.tb2 {
    display: block;
    width: 350px;
    font-family: Roboto;
    color: #324950;
    font-size: 17px;
    margin: 20px 0 0 20px;
}

.header {

}

.g1 {
    font-family: Roboto;
    color: #57984C;
    font-size: 14px;
}

.g2 {
    width: 526px;
    font-family: Roboto;
    color: #57984C;
    font-size: 54px;
}

.g3 {
    font-family: Roboto;
    color: #57984C;
    font-size: 20px;
    text-align:left;
}

.g4 {
    padding:20px 0 0 0;
    font-family: Roboto;
    color: #57984C;
    font-size: 20px;
}

.r1 {
    width: 438px;
    font-family: Roboto;
    color: #CF2333;
    font-size: 30px;
}
.container {
    margin: 20px 0;
    text-align: left;
}

.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.pdf {
    display: flex;
    justify-content: end;
    margin: 25px 0 40px 0;
}

.pdf a {
        display: flex;
        align-items: center;
        background-color: #fff;
        background-image: url(../images/Btn_pdf.png);
        background-repeat: no-repeat;
        background-position: 20px 10px;
        width: 155px;
        height: 51px;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 5px 0px;
        color: #57984C;
        font-size: 17px;
        font-weight: bold;
        border: 2px solid #57984C;
        border-radius: 30px;
        text-decoration: none;
        text-align: center;
        padding-left: 70px;
}

.add {
    display: flex;
    justify-content: end;
    margin: 25px 0 40px 0;
}

    .add a {
        display: flex;
        align-items: center;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: 20px 10px;
        width: 155px;
        height: 51px;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 5px 0px;
        color: #57984C;
        font-size: 17px;
        font-weight: bold;
        border: 2px solid #57984C;
        border-radius: 30px;
        text-decoration: none;
        text-align: center;
        padding-left: 70px;
    }

.image {
    flex-shrink: 0;
    margin-right: 20px;
}

.image2 {
    flex-shrink: 0;
    margin-top:20px;
    margin-left: 330px;
}

.full-width-img {
    width: 100%;
    height: auto;
    display: block;
}

.btn-img {
    width: 225px;
    height:55px;
    text-align:right;
}
.product-img {
    width: 350px;
    height: 321px;
}

.product-box {
    background-color: white;
    margin: 20px 21px 2px 5px;
}

.product-box a {
        text-decoration: none;
        color: #57984C;
}

#product-base {
    background-color: lightgray;
}

#body_contact {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    background-color: rgba(240, 240, 240, 1);
}

.container3 {
    margin: 50px auto;
    border: 0px;
    padding: 30px;
    border-radius: 5px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    height:55px;
    width: 350px;
    padding: 10px;
    border: 0px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

textarea {
    height: 150px;
}

#button_send {
    background-color: #57984C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    height: 55px;
    width: 255px;
    font-size: 17px;
}

    button:hover {
        background-color: #3e8e41;
    }

.interested {
    width: 635px;
    height: 355px;
}

#other_input {
    width: 635px;
}

#Who {
    border-radius: 10px;
    border-color:#ccc;
    border: 0px;
    font-family:Roboto;
    width:635px;
    height:55px;
    font-size:17px;
}

#contact_hooter {
    background-color:white;
    text-align:center;
    padding:0 0 10px 0;
}

#Phone {
    text-decoration:none;
    color: #57984C;
}

.products {
    width: 30%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

.products img {
    width: 100%;
    height: auto;
 }

.orange-button {
    background-color: #FFA500;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

table {
    width:100%;
    background-color: #ffffff;
    border:none;
    border-collapse: collapse; 
    border-radius: 10px; 
    font-family: 'Roboto', sans-serif;
    font-size: 17px; 
    color: #324950; 
}

th, td {
    padding: 10px; 
}

th {
    background-color: #f2f2f2; 
    font-weight: bold; 
}
