<!DOCTYPE html>
<HEAD>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Heebo&display=swap">
    <link rel="stylesheet" href="/css/tamplate.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <TITLE>Oranges</TITLE>
</HEAD>
<BODY>
    <div class="header">
        <div class="wrapper">
            <div class="row">
                <div class="w-2">
                    <div id="logo">
                        <img src="images/Logo.png">
                    </div>
                </div>
                <div class="w-2 align-right">
                    <div id="search">
                        <div id="search-in" class="flex">
                            <input type="text" placeholder="Search">
                            <button>Submit</button>
                        </div>
                    </div>
                    <div id="menu">
                        <ul>
                            <li><a href="https://kr11d.github.io/index.html">Home</a></li>
                            <li><a href="">Company Profile</a></li>
                            <li><a href="https://kr11d.github.io/tomato_all.html">Products</a></li>
                            <li><a href="">Services</a></li>
                            <li><a href="">R&D</a></li>
                            <li><a href="https://kr11d.github.io/contact_us.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div id="base">
            <div id="banner">
                <img src="images/oranges_banner.png" class="full-width-img">
            </div>
            <div class="wrapper">
                <h1 class="mes4">Angridia Fresh Market Tomato hybrids</h1>
                <p class="mes2">×××××</p>
                <p class="mes5">Agridera aims to be one of the world's leading companies in the breeding, production, and marketing of tomato seeds. <b>We invest intensively in research and development to provide solutions to growers and consumers in numerous countries around the world.</b> In particular, we breed improved disease-resistant cultivars adapted to different markets globally.</p>
                <p class="mes5">Currently, emphasis is placed on combining Tomato Yellow Leaf Curl Virus (TYLCV) and Tomato Spotted Wilt Virus (TSWV) resistances with other soil borne diseases into superior tomato breeding lines and hybrids. Moreover, comprehensive efforts are being undertaken to develop varieties resistance to TBRFV virus (Tomato Brown Rugose Fruit Virus).</p>
                <p class="mes5">In terms of horticultural traits, breeding is for earliness, different fruit sizes, firmness, red fruit color, flavor, crack resistance, shelf life, and high/low temperature fruit set. Combinations of quality features and disease resistance are sought in a variety of types, namely round and elongated shapes.</p>
                <div class="container">
                    <img src="images/Rectangle 27.png"  class="image">
                    <p class="mes5">Agirdera Tomato breeding programs are focusing on three main segments: Greenhouse Indeterminate Tomatoes, Open-field Indeterminate Tomatoes, and Bush Type Open-field Tomatoes.</p>
                </div>
                <div class="textbox">
                    <div class="row">
                        <div class="w-3">
                            <p class="tb1"><b>Greenhouse Tomato Breeding Program</b></p>
                            <p class="tb1"><b><hr class="ah"></b></p>
                            <p class="tb2"><b>This breeding is aimed for the Spanish and Turkish markets.</b> For single and cluster picks, round fruit shape and resistances of TYLCV, TSWV, Nematodes and FORL (Fusarium oxysporum f.sp. radicis-lycopersici). Some hybrids may include more resistances, such as Cladosporium and Leveillula Taurica (Lv).</p>
                        </div>
                        <div class="w-3">
                            <p class="tb1"><b>Open-field Indeterminate Tomatoes</b></p>
                            <p class="tb1"><b><hr class="ah"></b></p>
                            <p class="tb2"><b>This breeding is for Brazilian, Moroccan, and Turkish markets.</b> The main focus is on large round shape fruits (200 grams plus); and resistances of TYLCV, TSWV, Nematodes and FORL. In the near future, F3 (Fusarium oxysporum f.sp. lycopersici) will be included as basic resistance in our cultivars.</p>
                        </div>
                        <div class="w-3">
                            <p class="tb1"><b>Open-field Indeterminate Tomatoes</b></p>
                            <p class="tb1"><b><hr class="ah"></b></p>
                            <p class="tb2"><b>This breeding is for Brazilian, Moroccan, and Turkish markets.</b> The main focus is on large round shape fruits (200 grams plus); and resistances of TYLCV, TSWV, Nematodes and FORL. In the near future, F3 (Fusarium oxysporum f.sp. lycopersici) will be included as basic resistance in our cultivars.</p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <img src="images/Rectangle 27.png"  class="image">
                    <p class="mes5"><b>Agirdera operators through international and local distibutes around the world.</b></p>
                </div>
                <article id="app">
                    <div v-for="(product, index) in chunkedProducts" :key="index">
                        <div class="product" v-for="(item, i) in product" :key="i">
                            <a href="https://kr11d.github.io/tomato_one.html"><img :src="item.image" alt="Product Image"></a>
                            <p class="t1"> <a href="https://kr11d.github.io/tomato_one.html">{{ item.title }}</a></p>
                            <p class="t2"> <a href="https://kr11d.github.io/tomato_one.html">{{ item.short_text }}</a></p>
                            <button class="orange-button" @click="addItem(item.id)">Add to Cart</button>
                        </div>
                    </div>
                </article>

                <br/>
            </div>
        </div>
    </div>

    <script src="/js/main.js"></script>
    <div class="footer">
        <div class="footer_section">
            <div id="Сonnexions">
                <ul>
                    <li><a href="">PROFILE</a></li>
                    <li><a href="">MANAGEMENT</a></li>
                    <li><a href="">PRODUCTS</a></li>
                    <li><a href="">R&D</a></li>
                    <li><a href="">LINKS</a></li>
                    <li><a href="">SITEMAP</a></li>
                    <li><a href="">CONTACT</a></li>
                </ul>
            </div>

            <div class="social_media">
                <a href=""><img src="images/in.png" alt="IN"></a>
                <a href=""><img src="images/inst.png" alt="INSTAGRAM"></a>
                <a href=""><img src="images/tube.png" alt="YOUTUBE"></a>
                <a href=""><img src="images/tw.png" alt="TWITTER"></a>
                <a href=""><img src="images/fb.png" alt="FACEBOOK"></a>
            </div>
        </div>
        <p>AGRIDERA SEEDS & AGRICULTURE LTD. © 2020</p>
    </div>
</BODY>
</html>
